on:
  push

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: terraform init
        run: terraform init

  terraform-ubuntu-22:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: terraform init
        run: terraform init

    